/*  font-family: 'Source Sans Pro', sans-serif;  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* =================
   Typography 
   ================= */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #F1E8DB;
    margin: 0;
}

h1 + p {
    color: #F1E8DB;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    font-weight: 900;
    color: #991b1b;
    margin-top: 0;
    text-transform: uppercase;
}

.top-text {
    font-size: 0.625rem;
    margin: 0;
    padding-top: 2px;
    color: #F1E8DB;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #991b1b;
    border-image: linear-gradient(to left, #991b1b, #dc2626) 1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}
.header-title{
    font-size: 2rem;
}

footer p,
.header-title,
.footer-title{
    letter-spacing: 1px;
}
.footer-title{
    font-size:1.5rem ;
    text-transform: uppercase;
    margin-bottom: 0;
}

footer p{
    font-weight:400;
    margin-top: 0.6em; 
    margin-bottom: 0;
    /* border:2px solid white; */
}


strong { font-weight: 900; }

/* =================
   Intro section 
   ================= */
   
.intro {
    background-image: url(../images/dark-ribs.jpg);
    /* background-blend-mode: multiply;
    , linear-gradient(45deg,#dee2e6, #212529) */
    background-size: cover;
    background-position: center;
    /* background-color: rgb(29, 23, 23); */
    border:2.5em solid #fff;
    border-right:0;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;

}


/* =================
   main-content section 
   ================= */
   
.main-content {
    padding: 2em 1em;
}


.intro >*,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* =================
   header and footer 
   ================= */


 header,
 footer{
    background:#991b1b;
    color:#F1E8DB;
}
header{
    padding:2em 0;

}

header ul{
     list-style: none;
     padding-left: 0;
}

header ul li{
    padding-top: 0.75em;
    font-size:1.2rem ;
}

.header-list{
    text-decoration: none;
    color:#F1E8DB;
    padding-top: 1em;
}
.header-image{
    width:150px;
    max-width: 100%;

}

footer{
    padding:4em 0 ;
    margin-bottom:0;
}  

.footer-column{
    padding-left:1em;
    /* border:2px solid white; */
}


.footer-social{
    color: inherit;
    text-decoration: none;
}

.footer-social:hover,
.footer-social:focus,
.header-list:hover,
.header-list:focus{
    text-decoration: underline;
}


/* =================
   form
   ================= */
   
.email-collector {
    width: 80%;
    max-width: 300px;
}

input,
.btn {
    width: 100%;
    border-radius: 5px;
}

input {
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .75em;
    padding: .25em;
    border: 1px solid #404040;
    transform: scale(1);
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background-image: linear-gradient(to left, #991b1b, #dc2626);
    color: #F1E8DB;
    transform: scale(1);
    transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.1);
}

/* =================
   media queries 
   ================= */
   
@media (min-width: 600px) {
    body {
        font-size: 1.125rem;
    }
    section{
        display: flex;
    }
    h1 {
        font-size: 3.5rem;
    }
    
    h2,
    h1 + p {
        font-size: 1.75rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header{
        display: flex;
        justify-content: space-around;
    }
    .header-icon{
        border:2px solid greenyellow;
    }
    header ul{
        width:600px;
        max-width: 100%;
        display:flex;
        justify-content: space-around;
        border:2px solid white;
    }

    footer{
        display: flex;
        justify-content: space-around;
        text-align: left;
    }

}